
:root{
    --nav-height: 80px;
}
html{
    scroll-behavior: smooth;
}
body{
    margin: 0%;
    padding: 0%;
}


@media(min-width:1021px){
    div.intro{
        display: block;
        justify-content: right;

    }
    input[type="checkbox"]
    {
        visibility: hidden;
        display: none;
    }
    .check
    { position: relative;
        display: block;
        width: 40px;
        height: 20px;
        background: rgb(240, 237, 237);
        cursor: pointer;
        border-radius: 20px;
        transition: ease-in 1s;
        z-index: -2;
        color: black;
    }
    input[type="checkbox"]:checked ~ .check
    {
        background: rgb(20, 20, 20);
        box-shadow: 0 0 0 1900px rgb(240, 240, 240);
        filter: invert(-1);
    }
    .check:before
    {   content: ' ';
        position: relative;
        top:2px ;
        left:2px;
        height: 20px;
        width: 20px;
        padding-inline-start: 20px;
        background: #110707;
        cursor: pointer;
        border-radius: 50%;
        transition:  0.5s;
    }
    input[type="checkbox"]:checked ~ .check::before
    {
        transform:translate x(-50px);
        filter: invert(0);
    }
    .check::after
    {   content: ' ';
        position: relative;
        top: 2px ;
        left:2px;
        right: 2px;
        margin-top: 2px;
        height: 20px;
        width: 20px;
        padding-inline-start: 20px;
        background: #f0e9e9;
        cursor: pointer;
        border-radius: 50%;
        transition:  0.5s;
        color: black;
    }
    input[type="checkbox"] :checked ~ .check::after
    {
        transform:translate x(46px);
        filter: invert(0);
    }
    
    #contact{
        color: rgb(26, 24, 23);
        text-align: center;
    }
div.Contact ul {
        display: flex;  
        margin: auto;
        justify-content: center;
}
div.Contact ul li {
    display: flex;  
    margin: auto;
    justify-content: center;
    padding: 0px, 15px;
}
 h1{
            font-size: 4em;
            position: absolute;
            top: 7%;
            left: 50%;
            transform: translate(-50%,-50%);
            margin: 0%;
            padding: 0%;
            text-align: center;
            color: rgb(203, 228, 133);
            text-shadow: 0 0 20px rgb(226, 8, 8);
            font-family: 'Shadows Into Light', cursive;
        }
        h1:after
        {
        content: attr(data-text);
        position: absolute;
        top: 0;
        left: 0;
        padding: 0 20px;
        z-index: -1;
        color:#e22a09;
        filter: blur(15px);
        }
        h1:before
        {
        content: ' ';
        position: absolute;
        top: 0%;
        left: 0%;
        width: 100%;
        height: 100%;
        background:rgb(241, 7, 7);
        z-index: -2;
        opacity: 0.5;
        filter: blur(40px);
        }
        
    h2
    { display: flex;
        color: hsl(30, 21%, 5%);
        background-color: bisque;
        
    }
    h2#skills{
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 2px 2px;
        margin-inline: 580px;
        border-radius: 20px;
    }
    h2#experience{
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 5px 7px;
        margin-top: 4%;
        margin-inline: 550px;
        border-radius: 20px;
    }
    .Experience ul li {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    h2#projects{
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 5px 2px;
        margin-inline: 600px;
        border-radius: 20px;
    }
    .Projects ul {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .Projects ul li{
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 30px;
    }
    h2#about_me{
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 5px 2px;
        margin-inline: 600px;
        border-radius: 20px;
        top:50px;
    }
    .about p{
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin:30px;
    }
    h2#contact{
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 5px 1px;
        margin-inline: 550px;
        border-radius: 20px;
    }
    h3
    {
        color: bisque;
        font-family: 'Prompt', sans-serif;

    }
    body{
        background-color: black;
    }
    div.about p{
        color: bisque;
        margin: 24px,20px;
    }
    div.Skills 
    {
    color: bisque;
    justify-content: center;
    align-items: center;
    text-align: center;
    }
    div.Skills ul li
    {
    color: bisque;
    display: flex;
    justify-content: center;
    align-items: center;

    }
    section.Skills::before
    {
        content: " ";
        background: url("projects.jpg") no-repeat center center/cover;
        z-index: -1;
        position: absolute;
        opacity: 0.5;
        height: 65%;
        width: 100%;
    }
    nav{
    display: flex;
    position: relative;
    top: 60px;
    }
    div.profile-pic{
        display: flex; 
        padding-top: 7%;
    }
    div.about{
        margin-top: 5%;
        color: bisque;
        text-align: center;
    }
    
    #navbar::before{
        content: " ";
        background-image: url("images/city1.jpeg") ;
        position: absolute;
        height: 100%;
        width: 100%;
        z-index: -1;
    }
    div.info ul
    {
        display: flex;
        justify-content: center;
        text-decoration: none;
        transition: ease-in 1s;
    }
    div.info ul li
    {
        display: flex;
        justify-content: center;
        align-items: center;
        list-style: none;
    }
    
    div.info ul li a{
        display: block;
        color: rgba(7, 7, 6, 0.966);
        text-decoration: none;
        padding: 5px 15px;
        font-size: 25px;
        font-family: 'Prompt', sans-serif;
        transition: ease-in 0.2s;
    }
    div.info ul li a:hover{
        color:bisque;
        border-radius: 10px;
        background-color: rgb(43, 42, 39);
    }
    
    div.content
    { color:bisque; 
    }

    div.Projects ul li a{
        color:bisque;
       display: flex;
       list-style: none;
       text-decoration: none;
    }
    div.Projects li a:hover{
        color: rgb(131, 124, 124);
     }
    div.Experience li {
        color: rgb(240, 237, 232);
        text-decoration: none;
        height: 2px;
        width: 100%;
        margin-bottom: 70px;
     }
     section.Experience::before
    {
        content: " ";
        background: url("skills.jpg") no-repeat center center/cover;
        z-index: -1;
        position: absolute;
        opacity: 0.5;
        height: 50%;
        width: 100%;
    }
     footer {
         display: flex;
         justify-content: center;
         align-items: center;
         background-color: grey;
         color: honeydews;
         margin: 0px 0px;
         height: 50px;
     }
}
